# SPDX-FileCopyrightText: 2024 Osnabrück University of Applied Sciences
# SPDX-FileContributor: Andreas Schliebitz
# SPDX-FileContributor: Henri Graf
# SPDX-FileContributor: Jonas Tüpker
# SPDX-FileContributor: Lukas Hesse
# SPDX-FileContributor: Maik Fruhner
# SPDX-FileContributor: Prof. Dr.-Ing. Heiko Tapken
# SPDX-FileContributor: Tobias Wamhof
#
# SPDX-License-Identifier: MIT

[submodule "services/backend"]
	path = services/backend
	url = https://github.com/hsos-ai-lab/agri-gaia-backend.git
[submodule "services/frontend"]
	path = services/frontend
	url = https://github.com/hsos-ai-lab/agri-gaia-frontend.git
