# SPDX-FileCopyrightText: 2024 University of Applied Sciences Osnabrück
# SPDX-FileContributor: Andreas Schliebitz
# SPDX-FileContributor: Henri Graf
# SPDX-FileContributor: Jonas Tüpker
# SPDX-FileContributor: Lukas Hesse
# SPDX-FileContributor: Maik Fruhner
# SPDX-FileContributor: Prof. Dr.-Ing. Heiko Tapken
# SPDX-FileContributor: Tobias Wamhof
#
# SPDX-License-Identifier: AGPL-3.0-or-later

.vscode
secrets/**/*
!secrets/
!secrets/**/
!**.gitkeep
services/traefik/letsencrypt/
letsencrypt/

services/keycloak/registration-hook-spi/target/*
./cvat/

stop-core.sh
start-core.sh
pull.sh

data/geo
